Repository NHSDigital/nhs-notify-reporting, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NHSDigital/nhs-notify-reporting, @NHSDigital/nhs-notify-reporting-admins, @NHSDigital/nhs-notify-platform, @NHSDigital/nhs-notify-code-owners

CCM-9336 Fixing whitespace detection
  .github/workflows/stage-1-commit.yaml
  .tool-versions
  infrastructure/terraform/components/acct/iam_policy_github_deploy_overload.tf
  scripts/config/tfsec.yaml
  scripts/config/trivy.yaml
  scripts/terraform/trivy.sh
Owners: @NHSDigital/nhs-notify-reporting-admins, @NHSDigital/nhs-notify-reporting, @NHSDigital/nhs-notify-platform

CCM-9336 Fixing whitespace detection
  .github/actions/tfsec/action.yaml
  .github/actions/trivy/action.yaml
Owners: @NHSDigital/nhs-notify-reporting-admins

CCM-9061 renaming tfsec exclusions
  infrastructure/terraform/bootstrap/s3_bucket.tf
  infrastructure/terraform/components/acct/data_iam_policy_document_sso_read_only_table_access.tf
  infrastructure/terraform/components/reporting/athena_workgroup_core.tf
  infrastructure/terraform/components/reporting/athena_workgroup_housekeeping.tf
  infrastructure/terraform/components/reporting/athena_workgroup_ingestion.tf
  infrastructure/terraform/components/reporting/athena_workgroup_setup.tf
  infrastructure/terraform/components/reporting/athena_workgroup_user.tf
  infrastructure/terraform/components/reporting/module_powerbi_gateway_vpc.tf
  infrastructure/terraform/components/reporting/s3_bucket_access_logs.tf
  infrastructure/terraform/components/reporting/sfn_state_machine_completed_batch_report.tf
  infrastructure/terraform/components/reporting/sfn_state_machine_completed_comms_report.tf
  infrastructure/terraform/components/reporting/sfn_state_machine_housekeeping.tf
  infrastructure/terraform/components/reporting/sfn_state_machine_ingestion.tf
  infrastructure/terraform/components/reporting/sfn_state_machine_watchdog.tf
Owners: @NHSDigital/nhs-notify-platform

CCM-9061 Replace TFSec with Trivy (#105)
  .github/actions/tfsec/action.yaml
  .github/actions/trivy/action.yaml
  .github/workflows/stage-1-commit.yaml
  .tool-versions
  infrastructure/terraform/bootstrap/s3_bucket.tf
  infrastructure/terraform/components/acct/data_iam_policy_document_sso_read_only_table_access.tf
  infrastructure/terraform/components/acct/iam_policy_github_deploy_overload.tf
  infrastructure/terraform/components/reporting/athena_workgroup_core.tf
  infrastructure/terraform/components/reporting/athena_workgroup_housekeeping.tf
  infrastructure/terraform/components/reporting/athena_workgroup_ingestion.tf
  infrastructure/terraform/components/reporting/athena_workgroup_setup.tf
  infrastructure/terraform/components/reporting/athena_workgroup_user.tf
  infrastructure/terraform/components/reporting/module_powerbi_gateway_vpc.tf
  infrastructure/terraform/components/reporting/s3_bucket_access_logs.tf
  infrastructure/terraform/components/reporting/sfn_state_machine_completed_batch_report.tf
  infrastructure/terraform/components/reporting/sfn_state_machine_completed_comms_report.tf
  infrastructure/terraform/components/reporting/sfn_state_machine_housekeeping.tf
  infrastructure/terraform/components/reporting/sfn_state_machine_ingestion.tf
  infrastructure/terraform/components/reporting/sfn_state_machine_watchdog.tf
  scripts/config/tfsec.yaml
  scripts/config/trivy.yaml
  scripts/terraform/trivy.sh
Owners: @NHSDigital/nhs-notify-reporting-admins, @NHSDigital/nhs-notify-reporting, @NHSDigital/nhs-notify-platform

CCM-7786: client name mapping table
  infrastructure/terraform/components/acct/data_iam_policy_document_sso_read_only_table_access.tf
  infrastructure/terraform/components/reporting/athena_named_query_client_latest_name.tf
  infrastructure/terraform/components/reporting/iam_instance_profile_powerbi_gateway.tf
  infrastructure/terraform/components/reporting/null_resource_client_latest_name_table.tf
  infrastructure/terraform/components/reporting/scripts/sql/ingestion/client_latest_name.sql
  infrastructure/terraform/components/reporting/scripts/sql/optimize/client_latest_name.sql
  infrastructure/terraform/components/reporting/scripts/sql/tables/client_latest_name.sql
  infrastructure/terraform/components/reporting/scripts/sql/vacuum/client_latest_name.sql
  infrastructure/terraform/components/reporting/sfn_state_machine_housekeeping.tf
  infrastructure/terraform/components/reporting/sfn_state_machine_ingestion.tf
Owners: @NHSDigital/nhs-notify-platform

CCM-7786: formatting
  infrastructure/terraform/components/reporting/athena_named_query_client_latest_name.tf
  infrastructure/terraform/components/reporting/null_resource_client_latest_name_table.tf
  infrastructure/terraform/components/reporting/scripts/sql/ingestion/client_latest_name.sql
  infrastructure/terraform/components/reporting/scripts/sql/optimize/client_latest_name.sql
  infrastructure/terraform/components/reporting/scripts/sql/tables/client_latest_name.sql
Owners: @NHSDigital/nhs-notify-platform

CCM-7786: Copy error and timestamp change
  infrastructure/terraform/components/reporting/athena_named_query_client_latest_name.tf
  infrastructure/terraform/components/reporting/scripts/sql/ingestion/client_latest_name.sql
  infrastructure/terraform/components/reporting/scripts/sql/tables/client_latest_name.sql
Owners: @NHSDigital/nhs-notify-platform

CCM-7786: Only use on SK
  infrastructure/terraform/components/reporting/scripts/sql/ingestion/client_latest_name.sql
Owners: @NHSDigital/nhs-notify-platform

CCM-7786: Add missing max date
  infrastructure/terraform/components/reporting/scripts/sql/ingestion/client_latest_name.sql
Owners: @NHSDigital/nhs-notify-platform

Recipient daily views
  infrastructure/terraform/components/acct/data_iam_policy_document_sso_read_only_table_access.tf
  infrastructure/terraform/components/reporting/iam_instance_profile_powerbi_gateway.tf
  infrastructure/terraform/components/reporting/null_resource_daily_recipient_count_view.tf
  infrastructure/terraform/components/reporting/null_resource_daily_recipient_distribution_view.tf
  infrastructure/terraform/components/reporting/scripts/sql/views/daily_recipient_count.sql
  infrastructure/terraform/components/reporting/scripts/sql/views/daily_recipient_distribution.sql
Owners: @NHSDigital/nhs-notify-platform

CCM-9740: Treating missing data as not breaching to stop false alarms
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_completed_batch_report_executions_aborted.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_completed_batch_report_executions_failed.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_completed_batch_report_executions_timedout.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_completed_comms_report_executions_aborted.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_completed_comms_report_executions_failed.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_completed_comms_report_executions_timedout.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_housekeeping_executions_aborted.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_housekeeping_executions_failed.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_housekeeping_executions_timedout.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_ingestion_executions_aborted.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_ingestion_executions_failed.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_ingestion_executions_timedout.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_overdue_request_item_plans.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_overdue_request_items.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_overdue_requests.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_s3_backup_failures.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_stuck_request_items.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_watchdog_executions_aborted.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_watchdog_executions_failed.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_watchdog_executions_timedout.tf
Owners: @NHSDigital/nhs-notify-platform

CCM-7786:correct ingestion syntax
  infrastructure/terraform/components/reporting/scripts/sql/ingestion/client_latest_name.sql
Owners: @NHSDigital/nhs-notify-platform

CCM-7786: Correct source table ref
  infrastructure/terraform/components/reporting/scripts/sql/ingestion/client_latest_name.sql
Owners: @NHSDigital/nhs-notify-platform

CCM-9740: Treating missing data as not breaching to stop false alarms (#107)
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_completed_batch_report_executions_aborted.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_completed_batch_report_executions_failed.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_completed_batch_report_executions_timedout.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_completed_comms_report_executions_aborted.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_completed_comms_report_executions_failed.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_completed_comms_report_executions_timedout.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_housekeeping_executions_aborted.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_housekeeping_executions_failed.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_housekeeping_executions_timedout.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_ingestion_executions_aborted.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_ingestion_executions_failed.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_ingestion_executions_timedout.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_overdue_request_item_plans.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_overdue_request_items.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_overdue_requests.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_s3_backup_failures.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_stuck_request_items.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_watchdog_executions_aborted.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_watchdog_executions_failed.tf
  infrastructure/terraform/components/reporting/cloudwatch_metric_alarm_watchdog_executions_timedout.tf
Owners: @NHSDigital/nhs-notify-platform

CCM-7786: Correct source column naming
  infrastructure/terraform/components/reporting/scripts/sql/ingestion/client_latest_name.sql
Owners: @NHSDigital/nhs-notify-platform

CCM-7786: use request_item instead
  infrastructure/terraform/components/reporting/scripts/sql/ingestion/client_latest_name.sql
Owners: @NHSDigital/nhs-notify-platform

CCM-7786: client name mapping table (#106)
  infrastructure/terraform/components/acct/data_iam_policy_document_sso_read_only_table_access.tf
  infrastructure/terraform/components/reporting/athena_named_query_client_latest_name.tf
  infrastructure/terraform/components/reporting/iam_instance_profile_powerbi_gateway.tf
  infrastructure/terraform/components/reporting/null_resource_client_latest_name_table.tf
  infrastructure/terraform/components/reporting/scripts/sql/ingestion/client_latest_name.sql
  infrastructure/terraform/components/reporting/scripts/sql/optimize/client_latest_name.sql
  infrastructure/terraform/components/reporting/scripts/sql/tables/client_latest_name.sql
  infrastructure/terraform/components/reporting/scripts/sql/vacuum/client_latest_name.sql
  infrastructure/terraform/components/reporting/sfn_state_machine_housekeeping.tf
  infrastructure/terraform/components/reporting/sfn_state_machine_ingestion.tf
Owners: @NHSDigital/nhs-notify-platform

CCM-10045: move latest client name ingestion to phase 1
  infrastructure/terraform/components/reporting/sfn_state_machine_ingestion.tf
Owners: @NHSDigital/nhs-notify-platform

CCM-10045: move latest client name ingestion to phase 1 (#108)
  infrastructure/terraform/components/reporting/sfn_state_machine_ingestion.tf
Owners: @NHSDigital/nhs-notify-platform

.github/CODEOWNERS:

# NHS Notify Code Owners
*                           @NHSDigital/nhs-notify-reporting

/.github/                   @NHSDigital/nhs-notify-reporting-admins
*.code-workspace            @NHSDigital/nhs-notify-reporting-admins
/infrastructure/terraform/  @NHSDigital/nhs-notify-platform

# Default protection for codeowners, must be last in file.
/.github/CODEOWNERS         @NHSDigital/nhs-notify-code-owners
/CODEOWNERS                 @NHSDigital/nhs-notify-code-owners
